In [1]:
import pandas as pd

In [4]:
Jan17=pd.read_csv('data/JC-201701-citibike-tripdata.csv')
Feb17=pd.read_csv('data/JC-201702-citibike-tripdata.csv')
Mar17=pd.read_csv('data/JC-201703-citibike-tripdata.csv')
Apr17=pd.read_csv('data/JC-201704-citibike-tripdata.csv')
May17=pd.read_csv('data/JC-201705-citibike-tripdata.csv')
Jun17=pd.read_csv('data/JC-201706-citibike-tripdata.csv')
Jul17=pd.read_csv('data/JC-201707-citibike-tripdata.csv')
Aug17=pd.read_csv('data/JC-201708-citibike-tripdata.csv')
Sep17=pd.read_csv('data/JC-201709-citibike-tripdata.csv')
Oct17=pd.read_csv('data/JC-201710-citibike-tripdata.csv')
Nov17=pd.read_csv('data/JC-201711-citibike-tripdata.csv')
Dec17=pd.read_csv('data/JC-201712-citibike-tripdata.csv')
Jan18=pd.read_csv('data/JC-201801-citibike-tripdata.csv')
Feb18=pd.read_csv('data/JC-201802-citibike-tripdata.csv')
Mar18=pd.read_csv('data/JC-201803-citibike-tripdata.csv')
Apr18=pd.read_csv('data/JC-201804-citibike-tripdata.csv')
May18=pd.read_csv('data/JC-201805-citibike-tripdata.csv')
Jun18=pd.read_csv('data/JC-201806-citibike-tripdata.csv')
Jul18=pd.read_csv('data/JC-201807-citibike-tripdata.csv')
Aug18=pd.read_csv('data/JC-201808-citibike-tripdata.csv')
Sep18=pd.read_csv('data/JC-201809-citibike-tripdata.csv')
Oct18=pd.read_csv('data/JC-201810-citibike-tripdata.csv')
Nov18=pd.read_csv('data/JC-201811-citibike-tripdata.csv')
Dec18=pd.read_csv('data/JC-201812-citibike-tripdata.csv')
Jan19=pd.read_csv('data/JC-201901-citibike-tripdata.csv')
Feb19=pd.read_csv('data/JC-201902-citibike-tripdata.csv')
Mar19=pd.read_csv('data/JC-201903-citibike-tripdata.csv')
Apr19=pd.read_csv('data/JC-201904-citibike-tripdata.csv')
May19=pd.read_csv('data/JC-201905-citibike-tripdata.csv')
Jun19=pd.read_csv('data/JC-201906-citibike-tripdata.csv')
Jul19=pd.read_csv('data/JC-201907-citibike-tripdata.csv')
Aug19=pd.read_csv('data/JC-201908-citibike-tripdata.csv')
Sep19=pd.read_csv('data/JC-201909-citibike-tripdata.csv')
Oct19=pd.read_csv('data/JC-201910-citibike-tripdata.csv')
Nov19=pd.read_csv('data/JC-201911-citibike-tripdata.csv')
Dec19=pd.read_csv('data/JC-201912-citibike-tripdata.csv')
Jan20=pd.read_csv('data/JC-202001-citibike-tripdata.csv')
Feb20=pd.read_csv('data/JC-202002-citibike-tripdata.csv')
Mar20=pd.read_csv('data/JC-202003-citibike-tripdata.csv')
Apr20=pd.read_csv('data/JC-202004-citibike-tripdata.csv')
May20=pd.read_csv('data/JC-202005-citibike-tripdata.csv')
Jun20=pd.read_csv('data/JC-202006-citibike-tripdata.csv')
Jul20=pd.read_csv('data/JC-202007-citibike-tripdata.csv')
Aug20=pd.read_csv('data/JC-202008-citibike-tripdata.csv')
Sep20=pd.read_csv('data/JC-202009-citibike-tripdata.csv')

In [18]:
Apr17.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [67]:
names = pd.concat([Jan17,Feb17,Mar17])

In [68]:
names.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [69]:
new = names.rename(columns={'Trip Duration':'tripduration', 'Start Time': 'starttime', 'Stop Time':'stoptime', 'Start Station ID':'start station id',
       'Start Station Name':'start station name', 'Start Station Latitude':'start station latitude',
       'Start Station Longitude':'start station longitude', 'End Station ID':'end station id', 'End Station Name':'end station name',
       'End Station Latitude': 'end station latitude', 'End Station Longitude':'end station longitude', 'Bike ID':'bikeid', 'User Type':'usertype',
       'Birth Year':'birth year', 'Gender':'gender'})

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12196,239,2017-03-31 21:26:40,2017-03-31 21:30:39,3195,Sip Ave,40.730743,-74.063784,3201,Dey St,40.737711,-74.066921,29276,Subscriber,1970.0,1
12197,192,2017-03-31 21:46:57,2017-03-31 21:50:09,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26177,Subscriber,1976.0,1
12198,186,2017-03-31 22:03:56,2017-03-31 22:07:02,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26240,Subscriber,1956.0,1
12199,618,2017-03-31 23:20:14,2017-03-31 23:30:32,3272,Jersey & 3rd,40.723332,-74.045953,3268,Lafayette Park,40.713464,-74.062859,24398,Subscriber,1984.0,1
12200,649,2017-03-31 23:25:34,2017-03-31 23:36:23,3185,City Hall,40.717733,-74.043845,3190,Garfield Ave Station,40.710467,-74.070039,26200,Subscriber,1988.0,1

In [64]:
df = pd.concat([Apr17,May17,Jun17,Jul17,Aug17,Sep17,
                Oct17,Nov17,Dec17,Jan18,Feb18,Mar18,Apr18,May18,Jun18,
                Jul18,Aug18,Sep18,Oct18,Nov18,Dec18,Jan19,Feb19,Mar19,
                Apr19,May19,Jun19,Jul19,Aug19,Sep19,Oct19,Nov19,Dec19,
                Jan20,Feb20,Mar20,Apr20,May20,Jun20,Jul20,Aug20,Sep20])

In [66]:
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,252,2017-04-01 00:14:36,2017-04-01 00:18:48,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,26238,Subscriber,NaN,0
1,452,2017-04-01 00:15:47,2017-04-01 00:23:20,3203,Hamilton Park,40.727596,-74.044247,3213,Van Vorst Park,40.718489,-74.047727,26186,Subscriber,1962.0,1
2,465,2017-04-01 00:46:27,2017-04-01 00:54:13,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24659,Subscriber,1996.0,1
3,417,2017-04-01 00:47:15,2017-04-01 00:54:13,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24471,Subscriber,1994.0,1
4,391,2017-04-01 01:13:12,2017-04-01 01:19:44,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,24624,Subscriber,1983.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53828,270,2020-10-13 15:05:35.0860,2020-10-13 15:10:05.3430,3207,Oakland Ave,40.737604,-74.052478,3640,Journal Square,40.733670,-74.062500,44744,Subscriber,1963.0,2
53829,400,2020-10-13 15:09:03.4890,2020-10-13 15:15:43.9750,3209,Brunswick St,40.724176,-74.050656,3209,Brunswick St,40.724176,-74.050656,45345,Subscriber,1984.0,1
53830,206,2020-10-13 15:11:34.3500,2020-10-13 15:15:00.5030,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,47019,Subscriber,1993.0,1
53831,216,2020-10-13 15:11:49.1510,2020-10-13 15:15:25.6930,3195,Sip Ave,40.730897,-74.063913,3225,Baldwin at Montgomery,40.723659,-74.064194,42191,Subscriber,1966.0,1
53832,418,2020-10-13 15:12:31.7920,2020-10-13 15:19:30.5280,3267,Morris Canal,40.712419,-74.038526,3186,Grove St PATH,40.719586,-74.043117,47255,Subscriber,1991.0,1

In [ ]:
final = pd.concat([new,df])

In [ ]:
final

In [ ]:
final.to_csv('data/Jan17_to_Sep20.csv', index=False)